// Color Styles


// Base Color
$base_color_black: #000000;
$base_color_white: #FFFFFF;

// Text Color
$text_color_title: #11142D;
$text_color_body_1: #515151;
$text_color_body_2: #9A9AB0;

// Text Link Color
$text_link_color_orange: #F3692E;
$text_link_color_white: #FFFFFF;

// Primary Color
$primary_color_10: #F4F7F8;
$primary_color_30: #81D1FF;
$primary_color_50: #36B2F8;
$primary_color_70: #0887CF;
$primary_color_85: #001646;

// Secondary Color
$secondary_color_10: #FFDDD3;
$secondary_color_30: #FF8F5B;
$secondary_color_50: #F86338;
$secondary_color_70: #B43A05;
$secondary_color_85: #5F1E03;

// Accent 1 Color
$accent_color_10: #CAF1DA;
$accent_color_30: #5DEF97;
$accent_color_50: #0BD25A;
$accent_color_70: #00A843;
$accent_color_85: #018134;

// Other Color
$other_color_warning: #CAF1DA;
$other_color_error: #5DEF97;
$other_color_success: #0BD25A;
$other_color_info: #F1F1F6;

// System Background
$system_background_primary: #FFFFFF;
$system_background_secondary: #202020;

// Separators Colors
$separators_color_primary: #E1E1FB;
$separators_color_secondary: #E1E1E1;

// Fills Color
$fills_color_icon: #9A9AB0;
$fills_color_text_field: #FFFFFF;
$fills_color_progress_container: #E2E2EA;
$fills_color_image_placeholder: #E2E2EA;
$fills_color_button_fill: #FFFFFF;
$fills_color_disabled: #E0E0E0;
$fills_color_text_field_2: #F6F6F7;
